name: pre-commit

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  run-pre-commit:
    name: Pre-Commit with Latest Terraform
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3.2.0

      - name: Terraform Min/Max Versions
        id: min-max
        uses: clowdhaus/terraform-min-max@v1.2.4

      - name: Install Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install Go 1.19+
        uses: actions/setup-go@v3
        with:
          go-version: ">=1.19.0"

      - name: Go Tidy Test Module
        run: |
          cd test
          go mod tidy

      - name: Pre-commit Terraform ${{ steps['min-max'].outputs.maxVersion }}
        uses: clowdhaus/terraform-composite-actions/pre-commit@v1.8.3
        with:
          terraform-version: ${{ steps['min-max'].outputs.maxVersion }}
